@import "./utils/module";
@import "./base/module";
@import "./layouts/module";
@import "./atoms/module";
@import "./fragments/module";
@import "./pages/module";


.homepage-section {
  margin: 24px 0;
  .homepage-section-head {
    display: flex;
    .mg-left { margin-left: auto; }
    a {
      color: #1c97f5;
      font-weight: bold;
    }
  }
  .homepage-section-description {
    margin: 4px 0;
  }
}

