html {
  color: #121212;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
}

main {
  padding: 0 16px;
  width: 100vw;
  max-width: 720px;
}